@import '../fonts/font-awesome/css/font-awesome.min.css';

@font-face {
  font-family: 'Helvetica Neue';

  src: url('../fonts/Helvetica.eot');
  src: url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Helvetica.woff') format('woff'), 
  url('../fonts/Helvetica.ttf') format('truetype');
}

/******  Colors  ******/
@text-color: #687074;
@main-red: #ee2b33;

body {
	color: @text-color;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 13px;
}

img {
	width: 100%;
	height: auto;
}

.colored-bottom-border {
	border-bottom: 2px solid @main-red;
}
.underline-header {
	.colored-bottom-border;
	margin-top: 0;
	display: inline-block;
	display: inline-block;
	padding-bottom: 7px;
    font-size: 22px;
    line-height: 22px;
}

.btn-red {
	border-radius: 0;
	background: @main-red;
	color: #fff;

	&:hover,
	&:focus {
		background: @main-red - #111;
	}
	&:active {
		background: @main-red - #222;
	}
}

header {
	.navbar-header {
		width: 349px;
	}
	.navbar-nav>li>a {
	    padding-top: 16px;
	    padding-bottom: 10px;
        font-size: 16px;
        line-height: 18px;
	}
	.navbar-default {
		height: 72px;
		background: #fff;
		border-bottom: 2px solid #e5e5e5;
	}

	.logo-text {
		font-family: 'Open Sans', Sans;
		font-weight: 600;
		color: #000;
		text-decoration: none;
		font-size: 38px;
		margin: 16px 9px 3px;
		a {
			color: #000;
			&:hover {
				text-decoration: none;
			}
		}
		&:first-letter {
			color: #ee2b33;
		}
	}

	.navbar-brand {
	    padding: 9px 24px;
	}

	.header-nav {
	    margin-top: 29px;
	}

	ul.nav.nav-tabs {
	    border: 0;
	    margin-top: 31px;
	}

	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
		background: #fff;
	}

	.nav-tabs>li.active>a,
	.nav-tabs>li.active>a:focus,
	.nav-tabs>li.active>a:hover {
	    border: 0;
	}

	.nav-tabs>li.active,
	.nav-tabs>li:hover,
	.nav-tabs>li>a:focus {
		.colored-bottom-border;
	}

	.nav-tabs>li>a {
	    border: 0;
	    text-transform: uppercase;
	    padding: 10px 25px;
	    font-weight: 600;
	    font-family: 'Open Sans';
	}
	.btn-icon {
	    height: 40px;
	    width: 40px;
	    background: #fff;
	    border: 0;
	    color: #b8b8b8;
	    border-bottom: 2px solid #b8b8b8;
        border-radius: 0;
    	font-size: 16px;
	}

	input.form-control.search-field {
	    width: 140px;
	    height: 40px;
	    border: 0;
	    border-bottom: 2px solid #e5e5e5;
	    border-radius: 0;
	    box-shadow: none;

	    &:hover,
	    &:focus {
	    	outline: none;
	    	border-bottom: 2px solid #b8b8b8;
	    }
	}

	form.navbar-form {
	    margin: 31px 0 0;
	    padding-right: 0;
	}
}

main {
	.page-head {
		text-align: justify;
		margin-bottom: 70px;
		padding-bottom: 7px;
		border-bottom: 1px solid #ebebeb;

		.page-title {
			font-size: 24px;
			margin-top: 11px;
	    	margin-bottom: 17px;
		}
		.btn-download-now {
			.btn-red;
			font-size: 18px;
    		padding: 10px 23px;
    		margin: 27px 32px;
		}
	}

	.page-content {
		.main-tabs {
		    margin-bottom: 23px;
		    .nav-tabs {
				.colored-bottom-border;
			    margin-bottom: 19px;
			}
			.nav-tabs>li>a {
				font-size: 14px;
				border: 0;
				border-radius: 0;
				color: @text-color;
				padding: 5px 15px;
			}
			.nav-tabs>li.active>a,
			.nav-tabs>li.active>a:focus,
			.nav-tabs>li.active>a:hover,
			.nav-tabs>li>a:focus,
			.nav-tabs>li>a:hover {
				border: 0;
				border-radius: 0;
				background: @main-red;
				color: #fff;
			}
			.tab-image {
			    margin-bottom: 20px;
			}
			.tab-content {
				padding-left: 0;
			}
			.tab-header {
				font-size: 25px;
				margin-top: 0;
			}
			.tab-list {
				list-style: none;
				padding-left: 7px;
				line-height: 180%;

				li:before {
					font-family: 'FontAwesome';
					content: "\f00c";
					color: @main-red;
					padding-right: 6px;
				}
			}
		}

		.recent-work {
			position: relative;
			margin-bottom: 50px;

			.recent-work-item {
				padding-left: 5px;
				padding-right: 5px;
			}

			.carousel-control-group {
				position: absolute;
				right: 0px;
				top: -56px;

				a {
					background: #e5e4e4;
					height: 22px;
					width: 21px;
				    color: #fff;
				    display: inline-block;
				    line-height: 22px;
				    text-align: center;
				    margin-left: 5px;

				    &:hover {
				    	background: #e5e4e4 - #111;
				    }

				    span.fa {
				    	font-size: 22px;
				    }
				}
			}
			.recent-work-header {
			    margin-bottom: 25px;
			    padding-bottom: 8px;
			}

			.recent-work--figure {
				img {
					width: 100%;
					height: auto;
				}
				figcaption {
					text-align: center;
				    padding: 14px 0 2px;
				    background: #f8f8f8;
				    border-bottom: 2px solid #f1f1f1;
				}
			    &:hover,
			    &:focus {
			    	figcaption {
				    	.colored-bottom-border;
				    	background: #faeded;
			    	}
			    }
			}
		}

		.homepage-blockquote {
		    padding: 20px;
		    border: 1px solid #eee;
		    font-size: 13px;
		    border-left: none;
		    box-shadow: -2px 0 0 0 red;
		}
	}
}

aside {
	
	.sidebar-section-header {
		margin-bottom: 27px;

		&:after {
			content: '';
		    width: 100%;
		    border-bottom: 1px dashed #dedede;
		    display: block;
		    position: absolute;
		    top: 29px;
		    z-index: -1;
		}
	}

	.sidebar-features {
		position: relative;
		margin-bottom: 30px;

		.features-list {
			list-style-type: none;
			padding-left: 0px;

			li {
				padding: 3px 0;
			}

			.fa {
				padding-right: 10px;
				color: @main-red;
			}
		}
	}

	.sidebar-form {
		position: relative;
		.form-control,
		.btn {
			border-color: #959595;
			border-radius: 0;
			margin-bottom: 7px;
		}

		textarea {
			resize: none;
		}
		.btn {
			.btn-red;
			padding: 7px 14px;
		}
	}
}

footer {
	height: 65px;
	background: #535a65;
	line-height: 65px;
	margin-top: 150px;

	.copyright {
		display: inline-block;
		color: #bdbfc2;
		margin: 0;
	}

	.footer-nav {
		display: inline-block;

		li {
			display: inline;

			a {
				display: inline;
				padding: 0 11px;
				color: @main-red;
				border-right: 2px solid #aaadb1;

				&:hover,
				&:focus {
					color: @main-red - #111;
					background: none;
				}
			}
			&:last-of-type {
				a {
					border-right: none;
				}
			}
		}
	}
}

/*******    MEDIA QUERIES    *******/
@media screen and (max-width: 1200px) {
	header {
		.navbar-brand {
			padding: 9px;
		}
		.navbar-header {
			width: 300px;
		}
		ul.nav.nav-tabs {
			margin-top: 25px;
		}
		.nav-tabs>li>a {
			padding: 10px 8px;
		}
		.navbar-nav>li>a {
		    padding-top: 16px;
		    padding-bottom: 10px;
	        font-size: 16px;
	        line-height: 18px;
		}
		input.form-control.search-field {
			width: 110px;
		}
		.btn-icon {
			width: 30px;
			padding: 6px 7px;
		}
	}
}

@media screen and (max-width: 992px) {
	header {
		.navbar-header {
			width: 180px;
		}
		form.navbar-form {
			padding-left: 0;
		}
		.nav-tabs>li>a {
			padding: 10px 5px;
		}
		ul.nav.nav-tabs {
			margin-top: 31px;
		}
	}
	main {
		.page-head {
			.btn-download-now {
	    		margin: 27px 0px;
	    		white-space: normal;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	header {
		.navbar-default {
			height: auto;
		}
		input.form-control.search-field {
			display: inline-block;
			height: 41px;
			width: auto;
		}
		.navbar-header {
			width: auto;
		}
		.navbar-toggle {
			margin-top: 18px;
		}
		.nav-tabs>li {
			display: block;
			width: 100%;
			text-align: center;
			border-bottom: 2px solid transparent;
		}
		form.navbar-form {
			text-align: center;
		}
	}
	main {
		.page-content {
			.main-tabs .nav-tabs>li>a {
				padding: 5px;
			}
		}
	}
	footer {
	    height: auto;
	    text-align: center;
	}
}
